// Page Adjestment 
$padding : 0;
$margin : 0;
$box : border-box;

// Colors
$primary1 : hsl(1, 90%, 64%);
$primary2 : hsl(219, 85%, 26%); 
$veryLightGrayishBlue : hsl(210, 60%, 98%);
$lightGrayishBlue1 : hsl(211, 68%, 94%);
$lightGrayishBlue2 : hsl(205, 33%, 90%);
$grayishBlue: hsl(219, 14%, 63%);
$darkGrayishBlue : hsl(219, 12%, 42%);
$veryDarkGrayishBlue : hsl(224, 21%, 14%);
$shadow : 8px 8px 19px 11px #a3a6a828, -8px -8px 19px 11px #a3a6a828;
$shadow1 : 5px 5px 8px 5px #a3a6a828, -5px -5px 8px 5px #a3a6a828;
// fontSizes
$pSize : 16px;
// fontFamilies 
$jakarta : Plus Jakarta Sans;
$lightWeight : 500;
$bolderWeight : 800;
// Others
$radius1 : 30px;
$primHeight: 85vh;
// flexCenter
@mixin flexCenter ($flexTyope, $content) {
    display: $flexTyope;
    justify-content: $content;
    align-items: center;
}